# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Local dataset
data/*.csv

# Generated outputs
outputs/*.png
outputs/*.csv

# Python cache
.pytest_cache/
